<div ng-controller="homeCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="maxwidht">
					<div class="col-lg-6">
						<h1>BRP's nya hemsida!</h1>
						<h4>
							Välkommen till burning rubber pjaskebys nya hemsida. Just nu är hemsidan i ett beta läge med vissa funktioner under utveckling, givetvis går det att ta del av de funktioner som redan finns.
						</h4>
						<h4>
							Sugen på att bli medlem? Besök oss på vår facebook sida som du hittar nedan för kontakt med oss. 
						<br>
						<br>
							Redan hängt med på ett par turer och medlem i våran facebook grupp? Då kan du registrera dig uppe till höger i menyn. När din registrering blivit verifierad får du ett svarsmail när du kan logga in.
						<br>
						<br>
							Inte fått något svarsmail? Kolla din skräppost mapp och finner du inte mailet där så hör av dig till: 
						<br>
						<br>
							burningrubberpjaskebywebpage@gmail.com
						</h4>
					</div>
					<div class="col-lg-3">
						<div class="">
							<h1>Nyheter</h1>
							<h3>3 April 2017</h3>
							<li>Inte betalt medlemsavgiften? Kolla facebook för mer info!</li>
							<li>Nu har säsongen igång! Missa inte våra BRP-rides!</li>
							<li>Medlemmar! Missa inte vårens gille's inbjudan på facebook!</li>
							<br>
							<h3>Tack till er:</h3>
							<li>Stjärna för mindre text ändringar!</li>
							<li>Jonas som hittat andra text ändringar!</li>
							<li>Fortsätt gärna med att skicka in saker ni hittar!</li>
							
						</div>
					</div>
					<div class="col-lg-3">
						<h1>Ny webbshop!</h1>
						<p>Nu är Rasmus klar med nya tröjor inför säsong 2017, klicka på bilden nedan 
						så tas du direkt till shoppen.
						</p>
						<a href="http://shop.spreadshirt.se/100044463/?version=1462209767407" target="_blank">
							<img src="public/img/hoodrygg.jpg" class="img-responsive">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
