<div ng-controller="homeCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-8">
					<br>
					<img src="public/img/bikers.jpg" class="img-responsive">
				</div>
				<div class="col-lg-4">
					<h3>BRP's Medlemmar 2017</h3>
					<div ng-repeat="member in members">
						<li>{{member.firstname}} '{{member.username}}' {{member.lastname}}</li>
					</div>
				</div>
				<div class="col-lg-8">
					<h2>Vill du bli medlem?</h2>
					<h4>Burning Rubber Pjaskeby är en idiel motorcykekklubb som grundades av Mattias 'Stjärna' Stjärna sommarn 2015. Klubbens hemmaort är Höllviken (Pjaskeby) i södra Skåne. Vi utgår oftast från Vellinge när vi ska ut på en körning men med diverse uppslutningar under dagen.</h4> 
					<h4>
					Vi strävar efter att skapa en så god miljö som möjligt både på motorcykeln som vid kaffepausen. Skicklighets nivån skiljer sig från övningskörare till banförare med diverse inslag av bakhjulsfanatiker.</h4>
					<h4>
					Vill du bli medlem i våran klubb ser vi helst att du delar vårt intresse för två hjul. Vi har inga krav på färdigheter inom din hantering av motorcykeln, men ser helst att du har ett säkert tänkande kring din körning och följer våra regler för gruppkörning (se nedan). För kontakt angående medlemskap klicka på Facebook nedan. </h4>
				</div>
				<div class="col-lg-4">
					<h2>Vill du bli medlem?</h2>
					<h4>Kontakta oss på facebook så säger vi till när vi kör nästa gång, så är ni välkommna att köra med oss.</h4>

					<a href="https://www.facebook.com/BRPest2015/"><h2>Burning Rubber Pjaskeby</h2></a>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-4">
				<br>
					<img src="public/img/Wheelie.bmp" class="img-responsive">
				</div>
				<div class="col-lg-8">
					<h1>Regler för gemensam gruppkörning</h1>
					<h4>Kör alltid utifrån din egnaförmåga, känn ingen press om du råkar tappa bort föraren framför dig, vi väntar in alla vid nästa "stora" korsning.</h4>
					<h4>
					Varna dina medtrafikanter om diverse faror på vägen, så som upp med din vänstra hand för att signalera att du saktar ner pågrund av ett hinder, t.ex. en traktor, mötande trafik på mindre väg.</h4>
					<h4>
					Grus på vägen? få inte panik, anpassa istället din hastighet för problemet och sträck ut en hand pekandes mot vägen för att signalera löst underlag, går även bra att sträcka ut ett ben istället för armen.</h4>
					<h4>
					Bakhjulskörning uppmuntras men utförs helst under säkrare omständigheter, respektera både dina förare i gruppen samt eventuellt andra medtrafikanter, och kom ihåg...ju längre...ju högre...destu roligare för alla!
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>